
body{
	background-color: #e1e3e4;
	font-family: 'Raleway', sans-serif;
}
.streamers{

width: 30%;
margin: 20px auto;
background-color:#f4f4f4;




}

img{
	height:40px;
	//display:inline-block;
	border-radius: 100%;
	margin: 3% 3% 0 1%;
	
}


.userName{
	
	
	text-align: left;

}

.online{
	border-radius: 100%;
	border-color: green;
	border-style: solid;
	background-color: green;
	
}

.glyphicon-exclamation-sign{
	color:rgb(230, 39, 57);
	

}

.glyphicon-ok{
	color:#1A99AA;
	

}


.logo{
	padding-left: 5%;
	
	background-color: gray

}

.row{
	margin: 1% 0;
}


.bio{
	color:#a6abab;;
}

a{
	text-decoration: none;
	color: black
}
li a{
	text-decoration: none;
	color:white;

}

.nav{
	background-color: #3c948b;


}


